<% content_for :head do %>
    <%= stylesheet_link_tag 'tennis-map', media: 'all', 'data-turbolinks-track': 'reload'%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
            charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.2.0/js/jquery.mapael.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery-mapael@2.2.0/js/jquery.mapael.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.2.0/js/maps/world_countries.js"></script>
    <%= javascript_pack_tag 'home/application' %>
<% end %>
<div class="favorite">
    <h4 class="head">お気に入り選手の直近の試合</h4>
    <ul>
      <% @favorite_players.each do |favorite_player| %>
        <li>
          <%= favorite_player.name %>
          <div class="container">
            <div class="row mt-3">
              <% favorite_player.matches.each_with_index do |match, match_cnt| %>
                <% if match_cnt == 2 %>
                  <% break %>
                <% else %>
                  <% if match_cnt == 0%>
                    <div class="game_card col-12 col-md-5 bg-white mb-3 p-2">
                  <% else %>
                    <div class="game_card col-12 col-md-5 bg-white mb-3 p-2 offset-md-1">
                  <% end %>
                    <div class="small"><%= match.day %></div>
                    <div class="small"><%= match.tournament_year.tournament.name %></div>
                    <div>
                      <% match.player_matches.each_with_index do |player_match, player_cnt| %>
                        <% if player_cnt == 0 %>
                          <% if player_match.win_flag %>
                            <%= player_match.player.name %> vs
                          <% else %>
                            <span style="color: #EEEEEE;"><%= player_match.player.name %></span> vs
                          <% end %>
                        <% else %>
                          <% if player_match.win_flag %>
                            <%= player_match.player.name %>
                          <% else %>
                            <span style="color: #EEEEEE;"><%= player_match.player.name %></span>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
</div>
<div class="map_container">
    <div class="map">Alteranative content</div>
</div>
