<div class="text-success heading m-5 text-center"><%= @tournament_year.tournament.name%></div>
<div class="row justify-content-center">
    <div class="col-12 col-lg-6">
        <%= image_tag("ny.jpg", class: "img-fluid") %>
    </div>
</div>
<div class="row mt-3 justify-content-center">
    <div class="text-body col-12 col-lg-6">
        開催都市 : <%= @tournament_year.tournament.city %><br>
        開催期間 : <%= l @tournament_year.first_day %> ~  <%= l @tournament_year.last_day %><br>
        <a href="#">公式サイトへ</a>
    </div>
</div>
<div>
    <div class="text-success heading m-5 text-center">
        <span class="m-3">出場選手一覧</span>
    </div>
    <%= render @tournament_year.tournament_year_and_players %>
</div>
<div>
    <div class="m-5 ">
        <div class="text-success m-3 heading text-center">
            試合一覧
        </div>
        <!--
        <form class="row g-3 text-body">
            <div class="col-4 offset-md-4 md-4">
                <select class="form-select form-select-lg" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-4 text-left">
                <button type="submit" class="btn btn-success mb-3 btn-lg ">選択した日程の試合を表示</button>
            </div>
        </form>
        -->
        <%= form_tag(tournament_year_path, method: "get", class:"row g-3 justify-content-md-center") do %>
            <div class="col-6 col-md-4 offset-md-4">
                <%= select_tag(:day, options_for_select(@tournament_days, @selected_tournament_day), class: "form-select form-select-lg") %>
            </div>
            <div class="col-4 col-md-4">
                <%= submit_tag("選択日程の試合表示", class: "btn btn-success mb-3 btn-lg" )%>
            </div>
        <% end %>
    </div>
    <div class="row justify-content-center">
        <div class="text-body  col-md-9 justify-content-between row">
            <%= render @tournament_year.matches %>
        </div>
    </div>
</div>
