<div class="m-5 ">
    <div class="text-success m-3 heading text-center">
        試合一覧
    </div>
    <%= form_tag(path, method: "get", class:"row g-3 justify-content-md-center") do %>
        <div class="col-6 col-md-4 offset-md-4">
            <%= select_tag(param, options_for_select(data_array, selected_data), class: "form-select form-select-lg") %>
        </div>
        <% if local_assigns[:selected_tournament_year_id] %>
            <%= hidden_field_tag :selected_tournament_year_id, selected_tournament_year_id %>
        <% end %>
        <div class="col-4 col-md-4">
            <%= submit_tag(button_title, class: "btn btn-success mb-3 btn-lg" )%>
        </div>
    <% end %>
</div>
<div class="row justify-content-center">
    <div class="text-body  col-md-9 justify-content-between row">
        <%= render selected_matches %>
    </div>
</div>