<% if match_counter%2 == 0%>
    <div class="game_card col-12 col-md-5 col-lg-4 bg-white mb-3 p-2 text-body">
<% else %>
    <div class="game_card col-12 col-md-5 col-lg-4 bg-white mb-3 p-2 offset-md-1 text-body">
<% end %>
<div class="small"><%= l match.day  %></div>
<div class="small"><%= match.tournament_year.tournament.name %></div>
<div>
    <% if match.win_player.nil? %>
        <%= match.home_player.name %> vs <%= match.away_player.name %>
    <% elsif match.win_player == match.away_player.id %>
        <span class="lose"><%= match.home_player.name %></span> vs <%= match.away_player.name %>
    <% else %>
        <%= match.home_player.name %> vs <span class="lose"><%= match.away_player.name %></span>
    <% end %>
</div>
<div class="small">
    <%= link_to "スコア状況（Google検索）", "https://www.google.com/search?q=#{match.home_player.name}+#{match.away_player.name}+#{l match.day, format: :date_only}" %>
</div>
</div>