<header class="<%= "independent" unless controller.controller_name == 'static_pages' %>">
    <div class="container justify-content-center px-2">
        <div class="row justify-content-center justify-content-md-between">
            <div class="col-10 col-md-2 app-logo text-success <%= "other-page" unless controller.controller_name == 'static_pages' %>">
                ATP Tour Search
            </div>
            <div class="col-10 col-md-5 my-md-auto name-search">
                <%= render 'shared/name_search_form' %>
            </div>
            <ul class="col-5 my-auto text-success header-link">
                <li><%= link_to 'top', root_path %></li>
                <% if logged_in? %>
                    <li><%= link_to 'settings', edit_user_path(current_user) %>
                    <li><%= link_to 'logout', logout_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to 'login', login_path %></li>
                    <li><%= link_to 'signup', new_user_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
</header>
<% unless controller.controller_name == 'static_pages' %>
    <div class="height-adjust"></div>
<% end %>

