<header>
    <div class="container justify-content-center px-2">
        <div class="row justify-content-between">
            <div class="col-2 d-flex app-logo text-success">
                ATP Tour Search
            </div>
            <div class="col-5 my-auto">
                <div class="row justify-content-center">
                    <%= form_tag("/search", method: "get", class: "text-center col-12 col-md-8 col-lg-7", id: "form2") do %>
                            <div class="form-group">
                                <%= text_field_tag "name", "", {class: 'form-control', id: 'search-box'} %>
                                <button type="submit" id="sbtn2"><i class="fas fa-search"></i></button>
                            </div>
                    <% end %>
                </div>
            </div>
            <ul class="col-5 my-auto text-success header-link">
                <li><%= link_to 'top', root_path %></li>
                <% if logged_in? %>
                    <li><%= link_to 'settings', edit_user_path(current_user) %>
                    <li><%= link_to 'logout', logout_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to 'login', login_path %></li>
                    <li><%= link_to 'SignUp', new_user_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
</header>
<div class="height-adjust"></div>
